<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your app needs access to your location to provide location-based services.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Your app needs access to your location to provide location-based services even when it's running in the background.</string>
    <key>NSUserNotificationEnabled</key>
    <true/>
    <key>NSUserNotificationUsageDescription</key>
    <string>Please allow permission for notifications.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>local-notification</string>
    </array>
</dict>
</plist>
